<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сетка треугольных элементов</title>
</head>
<body>
    <h1>Вариант 19</h1>
    <p style="font-size: 24px;">Разработать web-программу, рассчитывающую местоположение центров всех КЭ в сетке, определяемой таблицами БД femdb, формирующую новую сетку треугольных элементов на найденных центрах и рисующую эту сетку.</p>
    <h2>Сетка треугольных элементов</h2>
    <img src="{{ url_for('static', filename='plot.png') }}" alt="Plot">
</body>
</html>
